body {
    background-color: rgb(16, 72, 131);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    cursor: url('static/arrowhead.png'), auto;
}

.sidebar {
    width: 40%;
    height: 100vh;
    position: fixed;
    background-color: rgb(16, 72, 131);
    padding: 20px;
    box-sizing: border-box;
    margin-left: 50px;
    /*margin-right: 50px;*/
}

.content {
    margin-left: 40%;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.experience {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.icon {
    color: lightgrey;
    text-decoration: none;
    transition: color 0.3s;
}

.icon:hover {
    color: white;
}

.social-icons {
    display: flex;
    justify-content: space-around; /* Space out the icons evenly */
    gap: 5px; /* Add spacing between the icons */
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: filter 0.3s ease; /* Smooth transition for the hover effect */
}

.social-icon:hover {
    filter: brightness(0) invert(1); /* Makes the image appear white on hover */
}
