html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(16, 72, 131);
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    /*cursor: none; */
    cursor: url('static/arrowhead.png'), auto;
}

.custom-cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    mix-blend-mode: overlay; /* Ensures the cursor blends with underlying content */
    transition: transform 0.1s ease-out;
}

.sidebar {
    width: 40%;
    height: 100vh;
    position: fixed;
    background-color: rgb(16, 72, 131);
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.content {
    margin-left: 40%;
    margin-top: 60px;
    width: 60%;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: auto;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

p {
    font-size: 14px;
    color:lightgray;
}

.experience {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 72, 131);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.experience:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgb(29, 115, 201);
}

.experience-content {
    display: flex;
    align-items: flex-start;
}

.experience:hover .experience-details h2 {
    color: #5CDC95;
}

.arrow-icon {
    position: absolute;
    width: 23px; /* Initial width */
    height: 23px; /* Initial height */
    opacity: 0; /* Initially hidden */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.experience:hover .arrow-icon {
    opacity: 1; /* Show arrow */
    transform: translate(5px, -5px); /* Move arrow slightly to the top-right */
}

.date {
    font-size: 14px;
    color: lightgray;
    min-width: 180px; /* Adjust as needed */
    text-align: left;
}

.date-image {
    margin-top: 10px; /* Space between text and image */
}

.icon {
    color: lightgrey;
    text-decoration: none;
    transition: color 0.3s;
}

.icon:hover {
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;  
    margin-top: auto;
    margin-bottom: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: filter 0.3s ease; /* Smooth transition for the hover effect */
}

.social-icon:hover {
    filter: brightness(0) invert(1) !important; /* Makes the image appear white on hover */
}

#brighter-icon {
    filter: brightness(1.2); /* Adjust brightness only for this icon */
}

.description {
    color: lightgray;
}

.nav-links {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.nav-links a {
    position: relative;
    display: inline-block;
    color: lightgray;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-decoration: none;
    width: fit-content;
    padding-left: 20px;
    transition: padding-left 0.3s ease; 
}

.nav-links a:hover {
    cursor: pointer;
    filter: brightness(0) invert(1);
    padding-left: 55px; /* Increase left padding to push text right */
  }


  .nav-links a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px; /* Initial width of the bar */
    height: 1px; /* Height of the horizontal bar */
    background-color: lightgray;
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for width and position */
}

.nav-links a:hover::before {
    width: 40px; /* Expanded width of the bar on hover */
    left: 10px; /* Move the bar right to maintain spacing */
    filter: brightness(0) invert(1);
}
.nav-links a:hover {
    cursor: pointer;
    filter: brightness(0) invert(1);
    padding-left: 55px; /* Increase left padding to push text right */
  }


  .nav-links a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px; /* Initial width of the bar */
    height: 1px; /* Height of the horizontal bar */
    background-color: lightgray;
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for width and position */
}

.nav-links a:hover::before {
    width: 40px; /* Expanded width of the bar on hover */
    left: 10px; /* Move the bar right to maintain spacing */
    filter: brightness(0) invert(1);
}
.nav-links a:hover {
    cursor: pointer;
    filter: brightness(0) invert(1);
    padding-left: 55px; /* Increase left padding to push text right */
  }


  .nav-links a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px; /* Initial width of the bar */
    height: 1px; /* Height of the horizontal bar */
    background-color: lightgray;
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for width and position */
}

.nav-links a:hover::before {
    width: 40px; /* Expanded width of the bar on hover */
    left: 10px; /* Move the bar right to maintain spacing */
    filter: brightness(0) invert(1);
}
.nav-links a:hover {
    cursor: pointer;
    filter: brightness(0) invert(1);
    padding-left: 55px; /* Increase left padding to push text right */
  }


  .nav-links a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px; /* Initial width of the bar */
    height: 1px; /* Height of the horizontal bar */
    background-color: lightgray;
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for width and position */
}

.nav-links a:hover::before {
    width: 40px; /* Expanded width of the bar on hover */
    left: 10px; /* Move the bar right to maintain spacing */
    filter: brightness(0) invert(1);
}
.nav-links a:hover {
    cursor: pointer;
    filter: brightness(0) invert(1);
    padding-left: 55px; /* Increase left padding to push text right */
  }


  .nav-links a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px; /* Initial width of the bar */
    height: 1px; /* Height of the horizontal bar */
    background-color: lightgray;
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for width and position */
}

.nav-links a:hover::before {
    width: 40px; /* Expanded width of the bar on hover */
    left: 10px; /* Move the bar right to maintain spacing */
    filter: brightness(0) invert(1);
}

.profile-image {   
    margin-left: 50px;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; /* This creates the circular shape */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
    margin-top: 40px;
    border: 1px solid white;
}

.profile-container {
    display: flex;
    align-items: center; /* Vertically centers the content */
    margin-top: -30px;
}

#publications,
#experience,
#education {
    scroll-margin-top: 120px;
}
